.story {
  width: 60px !important;
  margin: 0 auto;
  text-align: center;
}

.story__img {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: 2px solid #E4405F;
  padding: 2px;
  cursor: pointer;
}

.story__name {
  font-size: 12px;
  margin: 0;
  width: 100%;
  padding: 0 0 0 10px;
  text-align: center;
}
