* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.rotate-45 {
  transform: rotate(45deg);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-gray {
  border-color: #d4d4d4 !important;
}

.text-1 {
  font-size: 14px;
}

.text-secondary-1 {
  color: #b4b4b4 !important;
}

.scroll::-webkit-scrollbar {
  overflow: hidden;
  max-width: 10px;
  max-height: 10px;
} 

::-webkit-scrollbar-thumb {
  background-color: #40b3f1;
  border-radius: 10px;
  width: 50px;
}

.h-85vh {
  max-height: 85vh;
}